* {
  margin: 0;
}
body {
  background-color: var(--neutral-Pale-blue);
  font-family: "Hanken Grotesk", Arial, Helvetica, sans-serif;
}
::selection {
  color: var(--neutral-White);
  background-color: var(--neutral-Dark-gray-blue);
}
