@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/static/HankenGrotesk-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/static/HankenGrotesk-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/static/HankenGrotesk-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
