:root {
  --color-Light-red: hsl(0, 100%, 67%);
  --color-Orangey-yellow: hsl(39, 100%, 56%);
  --color-Green-teal: hsl(166, 100%, 37%);
  --color-Cobalt-blue: hsl(234, 85%, 45%);

  --gradient-Light-slate-blue-background: hsl(252, 100%, 67%);
  --gradient-Light-royal-blue-background: hsl(241, 81%, 54%);
  --gradient-Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --gradient-Persian-blue-circle: hsla(241, 72%, 46%, 0);

  --neutral-White: hsl(0, 0%, 100%);
  --neutral-Pale-blue: hsl(221, 100%, 96%);
  --neutral-Light-lavender: hsl(241, 100%, 89%);
  --neutral-Dark-gray-blue: hsl(224, 30%, 27%);

  font-size: 18px;
}
